$minMobile: "(min-width: 150px)";
$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$maxSmall: "(max-width: 991px)";
$minMedium: "(min-width: 992px)";
$maxMedium: "(max-width: 1999px)";
$minLarge: "(min-width: 1200px)";

$mainColor: white;
$menuColor: black;
$hoverColor: #689f38;
$header4Color: #444;
$paragraphColr: #555;
$footerColor: #222;

$centeringText: center;

